@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:300,400,500,500i,600,700,700i,800,900&display=swap');


// font-family: 'Poppins',
// sans-serif;
// font-family: 'Great Vibes',
// cursive;

.heading__cursive {
  font-size: 10rem;
  font-family: 'Great Vibes',
    cursive;
  color: $color__primary;
}

.heading__primary {
  font-size: 8rem;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;

  &--bold {
    font-weight: 900;
  }

  @include media-breakpoint (md) {
    font-size: 5rem;
  }

  @include media-breakpoint (sm) {
    font-size: 4rem;
  }


}

.heading__secondary {
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;

  &--bold {
    font-weight: 900;
  }

  @include media-breakpoint (sm) {
    font-size: 4rem;
  }
}

.heading__tertiary {
  font-size: 4rem;
  font-weight: 700;
  color: $color__primary;
  font-family: 'Poppins',
    sans-serif;

  @include media-breakpoint (md) {
    font-size: 3rem;
  }
}

.heading-body__primary {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;
}

.heading-body__secondary {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;

  &--golden {
    color: $color__primary;
  }
}

.heading-body__tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Poppins',
    sans-serif;
}




.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  font-family: 'Poppins',
    sans-serif;
}
