.hero {
  position: relative;

  &__container {
    overflow: hidden;
  }

  &-menu {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    z-index: 1000;
    color: #fff;

    @include media-breakpoint-down (md) {
      padding: 5rem 0;
      position: relative;
      bottom: 0rem;
      color: #000;
    }

    &__card {
      z-index: 100000;

      &-img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        &--1 {
          background: url(../img/breakfast-1.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &--2 {
          background: url(../img/breakfast-2.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &--3 {
          background: url(../img/breakfast-3.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &--4 {
          background: url(../img/breakfast-4.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

      }

      &-text {
        padding: 2rem 0;
      }
    }
  }
}




.about {
  margin-top: 10rem;

  &__img-box {
    height: 90vh;
    margin: 1rem;

    @include media-breakpoint-down (sm) {
      margin: 0;
    }

    &--1 {
      background: url(../img/about.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      position: relative;
      top: -5%;

      @include media-breakpoint-down (md) {
        position: relative;
        top: 0;
      }
    }

    &--2 {
      background: url(../img/about-1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }

  &__text-box {
    padding-left: 2rem;
  }

  &__text-body {
    margin-top: -8rem;
  }

  &__counter {
    margin-top: 5rem;
  }
}

.services {
  padding: 5rem 0;

  &-card {
    padding: 1rem;

    &__icon-box {
      padding: 1rem;
      padding-bottom: 3rem;
    }

    &__icon {
      width: 7rem;
      height: auto;
    }
  }
}

.menu {
  padding: 5rem 0;

  &-card {

    &__img-box {
      height: 23rem;

      &--1 {
        background: url(../img/breakfast-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--2 {
        background: url(../img/breakfast-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--3 {
        background: url(../img/breakfast-3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--4 {
        background: url(../img/breakfast-4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--5 {
        background: url(../img/breakfast-5.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--6 {
        background: url(../img/breakfast-6.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &__text-box {
      height: 100%;
      padding: 2rem;
      border: 1px solid rgb(228, 223, 223);
    }

    &__button-box {
      padding: 1rem 0;
    }
  }
}

.chefs {
  padding: 5rem 0;

  &-card {

    &__img-box {
      border-radius: 1rem;
      width: 100%;
      height: 32rem;

      &--1 {
        background: url(../img/chef-4.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--2 {
        background: url(../img/chef-2.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--3 {
        background: url(../img/chef-3.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &--4 {
        background: url(../img/chef-1.jpg);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &__social-box {
      padding: 1rem 4rem;
    }

    &__social {
      width: 2rem;
      height: auto;
    }
  }
}

.blog {
  padding: 5rem 0;

  &-card {

    padding: 2rem 0;

    &__image-box {
      width: 100%;
      height: 30rem;

      &--1 {
        background: url(../img/image_1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &--2 {
        background: url(../img/image_2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &--3 {
        background: url(../img/image_3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &__text-box {
      padding: 2rem;
    }

    &__button-box {
      padding: 1rem 0;
    }

    &__button-icon {
      width: 2rem;
    }
  }
}

.section__header {
  padding: 2rem 0;

  &-heading {
    position: relative;
    top: -7rem;
  }

}