.about {
    margin-top: 10rem;

    @include media-breakpoint-down (sm) {
        margin: 0;
    }

    &__img-box {
        height: 90vh;
        margin: 1rem;

        @include media-breakpoint-down (sm) {
            margin: 0;
        }

        &--1 {
            background: url(../img/about.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;
            top: -5%;

            @include media-breakpoint-down (md) {
                position: relative;
                top: 0;
            }
        }

        &--2 {
            background: url(../img/about-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
    }

    &__text-box {
        padding-left: 2rem;
    }

    &__text-body {
        margin-top: -8rem;
    }

    &__counter {
        margin-top: 5rem;
    }
}

.services {
    padding: 5rem 0;

    &-card {
        padding: 1rem;

        &__icon-box {
            padding: 1rem;
            padding-bottom: 3rem;
        }

        &__icon {
            width: 7rem;
            height: auto;
        }
    }
}