.button {
  font-family: 'Poppins',
    sans-serif;

  &:link {
    text-decoration: none;
  }
}

.button--menu {
  font-size: 1.6rem;
  color: #fff;
  background: $color__primary;
  padding: .8em 1.5em;
  border: 1px solid $color__primary;

  transition: all ease .5s;

  &:hover {
    color: $color__primary;
    background: #fff;
  }
}

.button__text {
  padding: 0;
  color: #000;

  &:hover {
    color: #000;
  }

  &--primary {
    font-size: 1.6rem;
  }

  &--secondary {
    font-size: 1.4rem;
  }
}
